.nav-link {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 40px;
  padding: 0 16px;
  &:hover {
    text-decoration: none;
    color: var(--text-base);
  }
  > svg {
    width: 24px;
    height: 24px;
  }
}
