.table {
  &__container {
    table {
      table-layout: fixed;
      width: 100%;
    }
  }
  &__thead {
    th {
      //display: inline-block;
    }
  }
  &__tbody {
  }
  &__row {
    &-selected {
    }
  }
  &__cell {
    //display: inline-block;
    > * {
      width: 100%;
    }
  }
}
